---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/orders/5182437124/refunds/225207300.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"refund":{"id":225207300,"order_id":5182437124,"created_at":"2017-10-07T13:59:31+02:00","note":"Broken","restock":null,"user_id":119976004,"processed_at":"2017-10-07T13:59:31+02:00","refund_line_items":[{"id":184858436,"quantity":1,"line_item_id":10069290756,"subtotal":150.0,"total_tax":0.0,"line_item":{"id":10069290756,"variant_id":41733347588,"title":"No
        variants","quantity":3,"price":"150.00","grams":0,"sku":"","variant_title":"","vendor":"Spree
        Shopify Importer Test Store","fulfillment_service":"manual","product_id":11055169028,"requires_shipping":true,"taxable":true,"gift_card":false,"name":"No
        variants","variant_inventory_management":null,"properties":[],"product_exists":true,"fulfillable_quantity":0,"total_discount":"0.00","fulfillment_status":"fulfilled","tax_lines":[],"origin_location":{"id":3132499076,"country_code":"HR","province_code":"","name":"Spree
        Shopify Importer Test Store","address1":"Osjecka 58","address2":"","city":"Split","zip":"21000"},"destination_location":{"id":3132500420,"country_code":"PL","province_code":"","name":"Peter
        Pan","address1":"Some Street","address2":"5","city":"Warszawa","zip":"02-777"}}}],"transactions":[{"id":7233040068,"order_id":5182437124,"amount":"150.00","kind":"refund","gateway":"bogus","status":"success","message":"Bogus
        Gateway: Forced success","created_at":"2017-10-07T13:59:31+02:00","test":true,"authorization":null,"currency":"EUR","location_id":null,"user_id":null,"parent_id":5732822788,"device_id":null,"receipt":{"paid_amount":"150.00"},"error_code":null,"source_name":"web"}],"order_adjustments":[]}}'
  recorded_at: Sat, 07 Oct 2017 14:11:50 GMT
recorded_with: VCR 3.0.3
