---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/custom_collections.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"custom_collections":[{"id":440333380,"handle":"frontpage","title":"Home
        page","updated_at":"2017-06-15T17:55:05+02:00","body_html":null,"published_at":"2017-05-31T06:18:03+02:00","sort_order":"best-selling","template_suffix":null,"published_scope":"global"},{"id":458118596,"handle":"sample-collectiom","title":"Sample
        Collectiom","updated_at":"2017-08-14T20:16:53+02:00","body_html":"","published_at":"2017-08-14T20:16:26+02:00","sort_order":"best-selling","template_suffix":null,"published_scope":"global"}]}'
  recorded_at: Mon, 14 Aug 2017 18:26:27 GMT
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/products.json?collection_id=440333380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":11055169028,"title":"No variants","body_html":"","vendor":"Spree
        Shopify Importer Test Store","product_type":"","created_at":"2017-05-31T06:19:00+02:00","handle":"no-variants","updated_at":"2017-05-31T06:19:10+02:00","published_at":"2017-05-31T06:18:16+02:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":41733347588,"product_id":11055169028,"title":"Default
        Title","price":"150.00","sku":"","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-05-31T06:19:00+02:00","updated_at":"2017-06-15T17:52:31+02:00","taxable":true,"barcode":"","image_id":null,"inventory_quantity":-2,"weight":0,"weight_unit":"g","old_inventory_quantity":-2,"requires_shipping":true}],"options":[{"id":13297851780,"product_id":11055169028,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[]}],"image":{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[]}}]}'
  recorded_at: Mon, 14 Aug 2017 18:26:47 GMT
recorded_with: VCR 3.0.3
