---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/customers.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - chi2,ash
    body:
      encoding: ASCII-8BIT
      string: '{"customers":[{"id":5667226244,"email":"ellen@hackett.biz","accepts_marketing":false,"created_at":"2017-06-05T04:57:02+02:00","updated_at":"2017-06-05T04:57:02+02:00","first_name":"Larue","last_name":"Schoen","orders_count":0,"state":"disabled","total_spent":"0.00","last_order_id":null,"note":"","verified_email":true,"multipass_identifier":null,"tax_exempt":false,"phone":"+624039625669","tags":"","last_order_name":null,"addresses":[{"id":5949050820,"first_name":"Larue","last_name":"Schoen","company":"","address1":"","address2":"","city":"","province":"","country":"Croatia","zip":"","phone":"","name":"Larue
        Schoen","province_code":null,"country_code":"HR","country_name":"Croatia","default":true}],"default_address":{"id":5949050820,"first_name":"Larue","last_name":"Schoen","company":"","address1":"","address2":"","city":"","province":"","country":"Croatia","zip":"","phone":"","name":"Larue
        Schoen","province_code":null,"country_code":"HR","country_name":"Croatia","default":true}},{"id":5657503684,"email":"viktor.fonic@gmail.com","accepts_marketing":false,"created_at":"2017-06-02T06:56:49+02:00","updated_at":"2017-06-02T06:56:49+02:00","first_name":"Viktor","last_name":"Fonic","orders_count":0,"state":"disabled","total_spent":"0.00","last_order_id":null,"note":"","verified_email":true,"multipass_identifier":null,"tax_exempt":false,"phone":null,"tags":"","last_order_name":null,"addresses":[{"id":5931674052,"first_name":"Viktor","last_name":"Fonic","company":"Smart
        Development Ltd.","address1":"Ideo Mobi East Gate","address2":"Sukhumvit 46","city":"Bangkok","province":"","country":"Thailand","zip":"10110","phone":"","name":"Viktor
        Fonic","province_code":null,"country_code":"TH","country_name":"Thailand","default":true}],"default_address":{"id":5931674052,"first_name":"Viktor","last_name":"Fonic","company":"Smart
        Development Ltd.","address1":"Ideo Mobi East Gate","address2":"Sukhumvit 46","city":"Bangkok","province":"","country":"Thailand","zip":"10110","phone":"","name":"Viktor
        Fonic","province_code":null,"country_code":"TH","country_name":"Thailand","default":true}}]}'
  recorded_at: Mon, 05 Jun 2017 05:41:53 GMT
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/customers.json?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - chi2,ash
    body:
      encoding: ASCII-8BIT
      string: '{"customers":[]}'
  recorded_at: Mon, 05 Jun 2017 05:41:55 GMT
recorded_with: VCR 3.0.3
