---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/custom_collections.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2NkZjIxMTM0MWRiMzQyNWFiOGY5NWJkMjQwZDYwN2M6YzNmZDc0YWZmNGVlMmRkN2Q1ZjE1OGNhZWI4NjIzOTU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '2'
      - '2'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      - '0'
      X-Sorting-Hat-Shopid:
      - '19040011'
      - '19040011'
      X-Sorting-Hat-Section:
      - pod
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      - '0'
      X-Shopid:
      - '19040011'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1595797'
      X-Stats-Apipermissionid:
      - '47354223'
      X-Dc:
      - ash,chi2
    body:
      encoding: ASCII-8BIT
      string: '{"custom_collections":[{"id":377307075,"handle":"frontpage","title":"Home
        page","updated_at":"2017-04-08T15:40:35+02:00","body_html":null,"published_at":"2017-04-05T20:50:58+02:00","sort_order":"best-selling","template_suffix":null,"published_scope":"global"},{"id":388567107,"handle":"samplecollection","title":"SampleCollection","updated_at":"2017-06-05T17:32:39+02:00","body_html":"SomeSampleCollection","published_at":"2017-05-31T18:33:25+02:00","sort_order":"best-selling","template_suffix":null,"published_scope":"global"}]}'
  recorded_at: Tue, 06 Jun 2017 14:59:31 GMT
[...]
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/products.json?collection_id=377307075
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic M2NkZjIxMTM0MWRiMzQyNWFiOGY5NWJkMjQwZDYwN2M6YzNmZDc0YWZmNGVlMmRkN2Q1ZjE1OGNhZWI4NjIzOTU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '2'
      - '2'
      X-Sorting-Hat-Podid-Cached:
      - '1'
      - '1'
      X-Sorting-Hat-Shopid:
      - '19040011'
      - '19040011'
      X-Sorting-Hat-Section:
      - pod
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '1'
      - '1'
      X-Shopid:
      - '19040011'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1595797'
      X-Stats-Apipermissionid:
      - '47354223'
      X-Dc:
      - ash,chi2
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":9884552707,"title":"sample_product","body_html":"Some
        Description","vendor":"Test","product_type":"Shirt","created_at":"2017-04-08T15:40:35+02:00","handle":"sample_product","updated_at":"2017-04-16T16:06:18+02:00","published_at":"2017-04-08T15:39:00+02:00","template_suffix":null,"published_scope":"global","tags":"product,
        some, tag","variants":[{"id":36493392259,"product_id":9884552707,"title":"Default
        Title","price":"1000.00","sku":"223331113444","position":1,"grams":10000,"inventory_policy":"deny","compare_at_price":"1200.00","fulfillment_service":"manual","inventory_management":"shopify","option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-04-08T15:40:35+02:00","updated_at":"2017-04-08T15:40:35+02:00","taxable":true,"barcode":"","image_id":null,"inventory_quantity":50,"weight":10.0,"weight_unit":"kg","old_inventory_quantity":50,"requires_shipping":true}],"options":[{"id":12016692163,"product_id":9884552707,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[],"image":null}]}'
  recorded_at: Tue, 06 Jun 2017 14:59:32 GMT
[...]
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/custom_collections.json?page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"custom_collections":[]}'
  recorded_at: Tue, 15 Aug 2017 10:06:17 GMT
recorded_with: VCR 3.0.3
